<!-- Primary menu with the datetime, days control, calendar and user -->
<div class="container row">

  <div class="pagination span5">
    <h2 class="pull-left"><%= @date.strftime("%A, %d %b") %></h2>
  </div>

  <div class="span7 pull-right" id="timesheet-controls">

    <div id="datepicker" class="hide"></div>

    <ul class="pager pull-right">
      <li><a href='#' class="icon-calendar"></a></li>
      <% if current_user.is_admin? %>
        <li><a href='#' class="icon-user"></a></li>
      <% end %>
    </ul>

    <div class="pagination pull-right">

      <ul>
        <li class="previous">
          <%= link_to '', timesheet_url(today_date(@date.yesterday)), class: 'icon-arrow-left' %>
        </li>
        <li<%= ' class="active"'.html_safe if @date.to_date == Time.zone.now.to_date %>>
          <%= link_to 'Today', timesheet_url %>
        </li>
        <li class="next">
          <%= link_to '', timesheet_url(today_date(@date.tomorrow)), class: 'icon-arrow-right' %>
        </li>
      </ul>

    </div>

  </div>

</div>

<div class="row">
  <!-- New Entry button-->
  <div class="span2">
    <%= link_to '<i class="icon-plus-sign icon-white"></i>
                 Entry'.html_safe,
                 new_time_entry_path(working_date(params)),
                 class: 'btn btn-inverse btn-large entry-position' %>
  </div>

  <!-- Header of table with weekdays synchronized with primary menu above and the DB in table below -->
  <div class="pagination pagination-large pull-right">
    <ul id="weekdays-list">
      <% @weekdays.each do |weekday| %>
        <li <% if weekday.day == @date.day %> class="active" <% end %>>
          <%= link_to timesheet_url(today_date(@date.advance({ days: (weekday - @date).days }))) do %>
            <%= weekday.strftime('%A') %><br>
            <span class="day-time">(<%= hours_and_minutes(@week_summary[weekday.day]) %>)</span>
          <% end %>
        </li>
      <% end %>
      <li>
        <%= link_to '#' do %>
          Total<br>
          <span class="day-time">(<%= hours_and_minutes(@week_summary.values.sum) %>)</span>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<% if @day_entries.empty? %>
  <div class="text-center alert alert-info"><%= t :no_time_entry %></div>
<% else %>
  <!-- Table with the time entries -->
  <table class="table table-striped table-list table-timesheet">
    <!-- Header of table with the time entries variables -->
    <thead>
      <tr>
        <th>Activity</th>
        <th>Time</th>
        <th>Duration</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @day_entries.each do |time_entry| %>
        <tr>
          <td class="row-fluid span6">
            <ul class="breadcrumb row-fluid span10">

              <!-- Project | Task > Description  -->
              <li>

                <div class="time-entry-title">
                  <%= time_entry.project.name %><span class="divider">|</span><%= time_entry.task.name %>
                  <% if time_entry.description.present? %><span class="divider">></span><% end %>
                </div>

                <% if time_entry.description.present? %>
                  <div class="time-entry-description">
                    <%= simple_format time_entry.description %>
                  </div>
                <% end %>

              </li>

            </ul>
          </td>

          <td class="row-fluid span1">

            <!-- Started_at and Ended_at Time column -->
            <div class="row-fluid span12">
              <blockquote>
                <h5 class="started_at">
                  <%= time_entry.started_at.strftime("%H:%M") %>
                </h5>
              </blockquote>
              <blockquote>
                <h5 class="ended_at">
                  <%= time_entry.ended_at.strftime("%H:%M") unless time_entry.ended_at.nil? %>
                </h5>
              </blockquote>
            </div>

          </td>

          <td class="row-fluid span4">

            <!-- Timer -->
            <div class="count-holder <%= time_entry.ended_at.present? ? 'stopped' : 'running' %>" data-id="<%= timer_data_id(time_entry) %>">

              <!-- timer hh:mm -->
              <% ['days','hours','minutes'].each_with_index do |elem, i| %>

                <span class="count-<%= elem %>">
                  <span class="position">
                    <span class="digit static">0</span>
                  </span>
                  <span class="position">
                    <span class="digit static">0</span>
                  </span>
                  <% if elem != 'minutes' %>
                    <span class="count-div count-div-<%= i %>"></span>
                  <% end %>
                </span>

              <% end %>

            </div>

            <!-- Pass the parameters too-->
            <div id="timer-button" class="row-fluid span12">
              <% if time_entry.ended_at.present? %>
                <%= start_button(time_entry) %>
              <% else %>
                <%= stop_button(time_entry) %>
              <% end %>
            </div>

          </td>
          <td class="row-fluid span1">

            <div class="btn-group">
              <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-edit icon-white"></i>
                <span class="caret"></span>
              </a>

              <ul class="dropdown-menu">
                  <li>
                    <%= link_to '<i class="icon-edit"></i> Edit'.html_safe, edit_time_entry_path(time_entry) %>
                  </li>
                  <li>
                    <%= link_to '<i class="icon-trash"></i> Destroy'.html_safe,time_entry, method: :delete, data: { confirm: 'Are you sure?' } %>
                  </li>
                </ul>

            </div>

          </td>
        </tr>

      <% end %><!-- end for @day_entries loop -->

    </tbody>

  </table>
<% end %>