<%= render :partial => "time_entry_form_modal" %>

<!-- Primary menu with the datetime, days control, calendar and user -->
<div class="container row">

  <div class="pagination span5">
    <h2 class="pull-left"><%= @date.strftime("%A, %d %b") %></h2>
  </div>

  <div class="span7 pull-right" id="timesheet-controls">

    <div id="datepicker" class="hide"></div>

    <ul class="pager pull-right">
      <li><a href='#' class="icon-calendar"></a></li>
      <% if current_user.is_admin? %>
        <li><a href='#' class="icon-user"></a></li>
      <% end %>
    </ul>

    <div class="pagination pull-right">

      <ul>
        <li class="previous">
          <%= link_to '', timesheet_url(today_date(@date.yesterday)), class: 'icon-arrow-left' %>
        </li>
        <li<%= ' class="active"'.html_safe if @date.to_date == Time.zone.now.to_date %>>
          <%= link_to 'Today', timesheet_url %>
        </li>
        <li class="next">
          <%= link_to '', timesheet_url(today_date(@date.tomorrow)), class: 'icon-arrow-right' %>
        </li>
      </ul>

    </div>

  </div>

</div>

<div class="row">
  <!-- New Entry button-->
  <div class="span2">
    <a id="new-time-entry-btn" class="btn btn-inverse btn-large entry-position" data-toggle="modal" data-target="#timeEntryModal">
      <i class="icon-plus-sign icon-white"></i> Entry
    </a>
  </div>

  <!-- Header of table with weekdays synchronized with primary menu above and the DB in table below -->
  <div class="pagination pagination-large pull-right">
    <ul id="weekdays-list">
      <% @weekdays.each do |weekday| %>
        <li <% if weekday.day == @date.day %> class="active" <% end %>>
          <%= link_to timesheet_url(today_date(@date.advance({ days: (weekday - @date).days }))) do %>
            <%= weekday.strftime('%A') %><br>
            <span class="day-time">(<%= hours_and_minutes(@week_summary[weekday.day]) %>)</span>
          <% end %>
        </li>
      <% end %>
      <li>
        <%= link_to '#' do %>
          Total<br>
          <span class="day-time">(<%= hours_and_minutes(@week_summary.values.sum) %>)</span>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<div id="no-day-entries-alert" class="text-center alert alert-info <%= 'hide' if !@day_entries.empty? %>">
  <%= t :no_time_entry %>
</div>

<!-- Table with the time entries -->
<table id="timesheet-table" class="table table-striped table-list table-timesheet <%= 'hide' if @day_entries.empty? %>" data-year="<%= params[:year] %>" data-month="<%= params[:month] %>" data-day="<%= params[:day] %>">
  <!-- Header of table with the time entries variables -->
  <thead>
    <tr>
      <th>Activity</th>
      <th>Time</th>
      <th>Duration</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'time_entry_row', locals: { time_entry: TimeEntry.new, is_sample_row: true } %>
    <% @day_entries.each do |time_entry| %>
      <%= render partial: 'time_entry_row', locals: { time_entry: time_entry, is_sample_row: false } %>
    <% end %>
  </tbody>

</table>