<div class="page-header">
  <h1>Users</h1>
  <%= link_to '<i class="icon-plus"></i> Add New'.html_safe, new_user_path, :class => 'btn btn-large' %>
</div>

<% if @users.any? %>
  <div><strong><%= @users.count %></strong> <%= 'user'.pluralize(@users.count) %></div>
<% end %>

<table class="table table-striped table-list">

  <thead>
    <tr>
      <th width="50px"></th>
      <th>Name</th>
      <th>Email</th>
      <th>Joined at</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>

    <% @users.each do |user| %>

      <tr>

        <td><%= gravatar_image_tag(user.email, gravatar: { size: 35 }, class: 'gravatar') %></td>
        <td>
          <%= user.name %>
          <% if user.is_admin %><span class="label label-warning">admin</span><% end %>
          <% if !user.is_active %><span class="label label-default">inactive</span><% end %>
        </td>
        <td><%= user.email %></td>
        <td><%= l user.created_at, format: :short %></td>
        <td>
          <div class="btn-group">
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-edit icon-white"></i> Actions
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to '<i class="icon-edit"></i> Edit'.html_safe, edit_user_path(user) %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to ('<i class="icon-off"></i> ' + (user.is_active ? 'Deactivate' : 'Activate')).html_safe, user_path(user, { user: { is_active: !user.is_active } }), method: :patch %>
              </li>
            </ul>
          </div>
        </td>

      </tr>

    <% end %>

  </tbody>

</table>