<%= simple_form_for(@time_entry, html: { class: 'form-horizontal' }) do |f| %>

  <%= f.error_notification if f.error_notification %>

  <%= f.input :project_id, collection: all_projects, autofocus: true, required: true %>

  <%= f.input :task_id, collection: all_tasks, required: true %>

  <%= f.input :start_time,
              as: :string,
              input_html: { value: @time_entry.started_at && @time_entry.started_at.strftime('%H:%M'),
                            class: 'time' },
              required: true %>

  <%= f.input :end_time,
              as: :string,
              input_html: { value: @time_entry.ended_at && @time_entry.ended_at.strftime('%H:%M'),
                          class: 'time' } %>

  <%= f.input :year,
              as: :hidden,
              input_html: { value: get_date_component(@time_entry, :year), name: 'year' } %>

  <%= f.input :month,
              as: :hidden,
              input_html: { value: get_date_component(@time_entry, :month), name: 'month' } %>

  <%= f.input :day,
              as: :hidden,
              input_html: { value: get_date_component(@time_entry, :day), name: 'day' } %>

  <%= f.input :description, as: :text %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>