<!DOCTYPE html>
<html>
  <head>
    <title><%= generate_title %></title>

    <!-- Styles -->
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%= csrf_meta_tags %>
  </head>
  <body id="<%= controller_name %>">

    <div id="wrap">

      <%= render 'layouts/header' %>

      <div id="main">
        <div class="container">

          <% unless notice.blank? %>
            <div class="alert alert-success">
              <a class="close" data-dismiss="alert">×</a>
              <strong>Yeah...</strong> <%= notice %>
            </div>
          <% end %>

          <% unless info.blank? %>
            <div class="alert alert-info">
              <a class="close" data-dismiss="alert">×</a>
              <strong>Shh...</strong> <%= info %>
            </div>
          <% end %>

          <% unless warning.blank? %>
            <div class="alert alert-warning">
              <a class="close" data-dismiss="alert">×</a>
              <strong>Oops...</strong> <%= warning %>
            </div>
          <% end %>

          <% unless alert.blank? %>
            <div class="alert alert-error">
              <a class="close" data-dismiss="alert">×</a>
              <strong>Psst...</strong> <%= alert %>
            </div>
          <% end %>

          <%= yield %>

        </div>
      </div>

    </div>

    <%= render 'layouts/footer' %>


    <!--  Javascripts placed at the end of the document
        so the page loads faster
    ==================================================== -->
    <%= javascript_include_tag 'application' %>
    <%= yield :javascripts %>

    <!--  Hidden modals placed at the end of the document
        so the page loads faster
    ==================================================== -->
    <%= yield :modals %>

  </body>
</html>
